mixin banner()

  -
    var slides = {
      1 : [
        'Lorem',
        '1?',
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor',
        'Lorem ipsum dolor sit amet, ',
        'consectetur adipiscing elit'
        ],
      2 : [
        'Lorem',
        '1?',
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor',
        'Lorem ipsum dolor sit amet, ',
        'consectetur adipiscing elit'
        ],
      3 : [
        'Lorem',
        '1?',
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor',
        'Lorem ipsum dolor sit amet, ',
        'consectetur adipiscing elit'
        ]
    };

  section.banner#banner
    ul.banner__list.slick-slider
      each val, key in slides
        li(class="banner__list-item banner__list-item--"+key)
          h1.banner__title= val[0]
            br
            span.banner__highlight= val[1]
          p.banner__subtitle= val[2]
          p.banner__text= val[3]
            span.banner__highlight= val[4]
